* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #fafafa;
}
header {
  padding-bottom: 230px;
  position: relative;
  background-image: linear-gradient(to top, black, rgb(0, 0, 0, 0.5)),
    url(./images/kids.jpeg);
  background-position: center;
  background-size: cover;
  width: 100vw;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}
.searchsection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.searchandlogo {
  display: flex;
  gap: 30px;
  align-items: center;
}
.whiteline {
  height: 18px;
  color: white;
  border: solid white 0.5px;
}
.menubutton {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
}
.inputsection > i {
  color: rgb(255, 255, 255, 0.3);
  font-size: 18px;
}
.inputsection > input {
  background: none;
  border: none;
  outline: none;
  color: white;
}
::placeholder {
  border: none;
  background: none;
  color: white;
  opacity: 30%;
}
.nextnews {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.socielicon {
  color: white;
  opacity: 50%;
  display: flex;
  gap: 10px;
  margin-left: 80px;
}
.nextnews > p {
  font-size: 12.6px;
  color: white;
  opacity: 50%;
}
.nextnews > span {
  color: white;
  font: 12.6px;
}
.nextnews > a {
  font-size: 12.6px;
  text-decoration: none;
  color: white;
  background-color: rgb(255, 255, 255, 0.5);
  padding: 8px 18px;
  border-radius: 18px 18px;
}
.bignews {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 61px;
}
.ardkidshover {
  width: 446.4px;
  height: 446.4px;
  border-radius: 15px;
  overflow: hidden;
}
.ardkids {
  width: 100%;
  height: 100%;
  background-image: url(./images/kids.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}
.ardkids:hover {
  transform: scale(1.1);
}
.maincontent {
  display: flex;
  flex-direction: column;
  gap: 54px;
  width: 608.59px;
}
.maincontenttext > p {
  color: white;
  font-size: 36px;
  font-weight: 900;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
.maincontenttext > span {
  font-size: 36px;
  font-weight: 900;
  color: white;
}
.author {
  display: flex;
  gap: 10px;
  align-items: center;
}

.author-right {
  flex-direction: row-reverse;
  text-align: right;
}

.authorpic {
  width: 44px;
  height: 44px;
  border: solid rgb(255, 255, 255, 0.5) 1px;
  border-radius: 50%;
  background-image: url(./images/author1.jpeg);
  background-size: contain;
}
.maincontent > h1 {
  color: #0078f8;
  font-size: 14.4px;
  font-weight: 900;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes example {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.authorname {
  font-size: 12.6px;
  color: white;
}
.tsengeg {
  opacity: 50%;
}
.redaction {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 16.2px;
  font-weight: 900;
}
.ihbagatemdeg {
  background-color: rgb(255, 255, 255, 0.5);
  font-weight: lighter;
  padding: 6px 18px;
  border-radius: 18px;
  display: flex;
  gap: 10px;
}
.dailynews {
  /* left: 50%;
  transform: translate(-50%, 0); */
  width: 80%;
  margin: auto;
  margin-top: -150px;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 28px;
  align-items: center;
  overflow-x: scroll;
  padding: 50px;
}
.dailynewsbox {
  width: 245.4px;
  height: 362.43px;
  padding: 10px;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgb(0, 0, 0, 0.3) 5px 10px 8px;
  transition: all 0.3s ease-in-out;
}
.dailynewsbox:hover {
  transform: scale(1.2);
}
.slider1 {
  background-image: linear-gradient(to top, black, rgb(255, 255, 255, 0)),
    url(./images/khangal.jpeg);
}
.niitelsenmin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #0078f8;
}
.dailynewsgarchig {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16.2px;
}
.garchig {
  font-weight: 700;
}
.newslasttext {
  background-color: #0078f8;
  border-radius: 10px;
  padding: 1px 11px 1px 11px;
  font-size: 12.6px;
}
.slider2 {
  background-image: linear-gradient(to top, black, rgb(255, 255, 255, 0)),
    url(./images/bookbrownbg.png);
  background-position: left;
}
.slider3 {
  background-image: linear-gradient(to top, black, rgb(255, 255, 255, 0)),
    url(./images/masters.png);
}
.slider4 {
  background-image: linear-gradient(to top, black, rgb(255, 255, 255, 0)),
    url(./images/magicstore.png);
  background-position: right;
}
.slider5 {
  background-image: linear-gradient(to top, black, rgb(255, 255, 255, 0)),
    url(./images/randomguy.jpeg);
}
article {
  margin-top: 200px;
}
.article_left {
  transition: all 0.2s ease;
  margin: auto;
  width: 1116px;
  height: 280px;
}
.authorname_e {
  font-size: 12.6px;
}
.authordate {
  opacity: 50%;
}
.authorpic1 {
  width: 44px;
  height: 44px;
  border: solid rgb(255, 255, 255, 0.5) 1px;
  border-radius: 50%;
  background-image: url(./images/enkhmunkh.jpeg);
  background-size: contain;
}
.articletext {
  margin-top: 10px;
  background-color: white;
  box-shadow: 3px 5px 4px 5px rgb(0, 0, 0, 0.1);
  border-radius: 0 15px 15px 15px;
  display: flex;
  justify-content: space-between;
  width: 739px;
  height: 183px;
  padding: 28px 65px 20px 51px;
  gap: 30px;
  transition: all 0.2s ease;
}
.articleimg {
  width: 135px;
  height: 135px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
.articletextmain {
  width: 400.76px;
}
.articletextmain > h1 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: -18px;
  font-size: 12.6px;
  color: #0078f8;
}
.articletextmain > h2 {
  font-size: 21.6px;
}
.article_right {
  transition: all 0.2s ease;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 1116px;
  height: 280px;
  align-items: flex-end;
}
.article_right > .articletext {
  border-radius: 15px 0 15px 15px;
}
.articlepic1 {
  background-image: url(./images/garage.jpeg);
}
.articlepic2 {
  background-image: url(./images/pigkids.jpeg);
}
.articlepic3 {
  background-image: url(./images/numur.jpeg);
  background-position: left;
}
.articlepic4 {
  background-image: url(./images/kids.jpeg);
  background-position: left;
}
.articlepic5 {
  background-image: url(./images/apps.jpeg);
}
.articlepic6 {
  background-image: url(./images/toyota.jpeg);
}
.articlepic7 {
  background-image: url(./images/1c8032975647515c919c1e4b30138726.jpg);
}
.articlepic8 {
  background-image: url(./images/daddykids.jpeg);
}
.authorpic2 {
  width: 44px;
  height: 44px;
  border: solid rgb(255, 255, 255, 0.5) 1px;
  border-radius: 50%;
  background-image: url(./images/author2.jpeg);
  background-size: contain;
}
.authorpic3 {
  width: 44px;
  height: 44px;
  border: solid rgb(255, 255, 255, 0.5) 1px;
  border-radius: 50%;
  background-image: url(./images/unreadzurag.jpeg);
  background-size: contain;
}
.authorpic4 {
  width: 44px;
  height: 44px;
  border: solid rgb(255, 255, 255, 0.5) 1px;
  border-radius: 50%;
  background-image: url(./images/author3.jpeg);
  background-size: contain;
}
.authorpic5 {
  width: 44px;
  height: 44px;
  border: solid rgb(255, 255, 255, 0.5) 1px;
  border-radius: 50%;
  background-image: url(./images/author5.png);
  background-size: contain;
}
.article_left:hover {
  transform: translate(0, -10px);
}
.article_right:hover {
  transform: translate(0, -10px);
}
.articletext:hover {
  box-shadow: 5px 10px 8px 10px rgb(0, 0, 0, 0.1);
}
.allnewsdate {
  width: 80%;
  margin: auto;
  border-bottom: solid 1px rgb(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  font-size: 13.5px;
  margin-bottom: 50px;
}
.datebox {
  padding: 20px 12px;
}
.datebox_1 {
  font-weight: 700;
  color: #0078f8;
  border-bottom: #0078f8 1px solid;
}
.datebox_2,
.datebox_3 {
  text-align: center;
}
.datebox_4 {
  text-align: end;
}
.datebox:hover {
  color: #0078f8;
  border-bottom: 1px solid #0078f8;
}
.allnewsphoto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: auto;
  gap: 19px;
}
.photosize {
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}
.photosize:hover {
  transform: translate(0, -10px);
}
.allnewsgridleft {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 361.48px 234.23px;
  gap: 19px;
}
.allnewsgridright {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 271.92px 323.98px;
  gap: 19px;
}
.box1 {
  position: relative;
  grid-column: 2 span;
  background-image: url(./images/copilot.jpeg);
  background-size: cover;
  background-position: left;
}
.backimg {
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    135deg,
    rgb(255, 255, 255, 0.1),
    rgb(255, 255, 255, 0)
  );
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 15px;
}
.box1text {
  padding: 20px;
  width: 100%;
  height: 30%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  color: white;
  bottom: 0;
}
.box1text > h1 {
  font-size: 12.6px;
  opacity: 50%;
  font-weight: lighter;
}
.box1text > p {
  font-size: 15px;
  font-weight: 700;
}
.hugatsaa {
  transform: translate(-30px, 12px);
  font-size: 12.6px;
  padding: 5px 15px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255, 0.2);
  position: absolute;
  bottom: 30%;
  right: 0;
  z-index: 2;
  color: white;
}
.box2 {
  position: relative;
  background-image: url(./images/simple.png);
  background-size: cover;
  background-position: center;
}

.box3 {
  position: relative;
  background-image: url(./images/nomiintuhai.jpeg);
  background-size: cover;
  background-position: center;
}
.box3 > .hugatsaa {
  background-color: rgb(0, 0, 0, 0.3);
}
.box4 {
  position: relative;
  background-image: url(./images/cgold.jpeg);
  background-size: cover;
  background-position: center;
}
.box4 > .hugatsaa {
  background-color: rgb(0, 0, 0, 0.3);
}
.box4 > .backimg {
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(135deg, rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.1));
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 15px;
}
.box5 {
  position: relative;
  background-image: url(./images/musicion.png);
  background-size: cover;
  background-position: center;
}
.box6 {
  position: relative;
  background-image: url(./images/centraltv.jpeg);
  background-size: cover;
  background-position: center;
}
.box7 {
  position: relative;
  background-image: url(./images/khulan.png);
  background-size: cover;
  background-position: center;
}
footer {
  background-color: #000;
  z-index: -2;
  width: 100%;
  position: absolute;
  margin-top: -50px;
  padding-top: 100px;
}
section {
  border-radius: 0 0 50px 50px;
  padding-bottom: 100px;
  background-color: #fafafa;
}
.footerunreadlogo {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.unreadlast {
  width: 135px;
  height: 18px;
  background-image: url(./images/unread_white.png);
  background-size: cover;
  background-position: center;
}
.footerbutton {
  background-image: url(./images/btn-black.png);
  color: white;
  width: 323px;
  height: 90px;
  border: none;
  position: relative;
  font-weight: 500;
  padding: 21px 80px 27px 28px;
  border-radius: 18px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.arrow {
  position: absolute;
  bottom: 30%;
  right: 8%;
  color: white;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: rgb(0, 120, 248, 0) solid 9px;
}
.footerbutton:hover {
  transform: translate(10px, 0);
}
.footerbutton:hover .arrow {
  border: rgb(0, 120, 248, 0.5) solid 9px;
}
.footerbutton > h1 {
  font-size: 12.6px;
  opacity: 50%;
  text-align: left;
}
.footerbutton > h2 {
  font-size: 12.6px;
  font-weight: 700;
  text-align: left;
}
.appstorelogo {
  display: flex;
  gap: 20px;
}
.footertext {
  width: 650px;
  height: 404px;
  color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footerredac {
  font-size: 15px;
  font-weight: 500;
  display: flex;
  gap: 30px;
}
.menuandcontact {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 80%;
  gap: 150px;
}
.bulan {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.bulancolumn {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 180px;
  font-size: 12.6px;
}
.copyright {
  font-size: 10.8px;
  opacity: 50%;
}
.garchigungu {
  color: #0078f8;
  font-weight: 700;
  font-size: 14.4px;
}
.urtuulugchid {
  margin-top: 30px;
}
.wordhover {
  opacity: 50%;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.wordhover:hover {
  opacity: 1;
  transform: translate(5px, 0);
}
.zochloh {
  margin-top: 30px;
  opacity: 1;
}
.socieliconlast {
  padding: 90px 0;
  color: rgb(255, 255, 255, 0.2);
  font-size: 40px;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.fa-square-facebook:hover {
  color: #4267b2;
}
.fa-square-x-twitter:hover {
  color: white;
}
.fa-instagram:hover {
  background: -webkit-linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-linkedin-in:hover {
  color: #0077b5;
}

.fa-youtube:hover {
  color: #ff2500;
}
.fa-soundcloud:hover {
  color: #f50;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .ardkidshover {
    display: none;
  }
  .nextnews {
    display: none;
  }
  .searchsection {
    width: 100%;
    justify-content: space-between;
  }
  .inputsection > input {
    display: none;
  }
  .inputsection > i {
    color: white;
  }
  .ihbagatemdeg {
    display: none;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
}
