* {
  margin: 0;
  box-sizing: border-box;
}
header {
  background-color: rgb(0, 0, 0, 0.6);
  background-image: url(./images/kids.jpeg);
  background-blend-mode: darken;
  overflow: hidden;
  height: 120vh;
  background-size: cover;
  background-position: center;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px;
}
.searchsection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.searchandlogo {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.whiteline {
  height: 18px;
  color: white;
  border: solid white 0.5px;
}
.menubutton {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
}
.inputsection > i {
  color: white;
  font-size: 18px;
}
.inputsection > input {
  background: none;
  border: none;
}
::placeholder {
  border: none;
  background: none;
}
